.card{
    box-sizing: border-box;
    display: block;
    transition: 1s ease all;
    border-radius: 10px;
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 200px;
    min-height: 150px;
    @media (max-width:600px) {  
        max-width: 120px;
        min-height: 80px;
    }
    @media (max-width:500px) {  
        max-width: 80px;
        height: 40px;
    }

    &__frontside{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        display: block;

        border-radius: 10px;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        border: 1px solid var(--grey);
        box-shadow: 0 14px 28px rgba(1,0,0,0.5), 0 10px 10px rgba(0,0,0,0.1);

        transition: 0.5s;

        img {
            border-radius: 9px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

        &--dark{
            border: 1px solid var(--light-grey);
        }
    }

    &__backside{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        display: block;
        
        border-radius: 10px;
        background-image: url(../../assets/img/back.png);
        background-size: cover;
        backface-visibility: hidden;
        border: 1px solid var(--grey);
        box-shadow: 0 14px 28px rgba(1,0,0,0.5), 0 10px 10px rgba(0,0,0,0.1);

        transition: 0.5s;

        &--dark{
            border: 1px solid var(--light-grey);
        }
    }


    &--opened{
        .card__frontside{
            transform: rotateY(360deg);
        }
        .card__backside{
            transform: rotateY(180deg);
        }
    }

}
.tooltip{
    @media (max-width: 565px) {
        display: none;
    }
}